<template>
    <div class="container shadow main" style="width: 500px">
		<div class="container-fluid">
			<h3 class="title">Музыка из ВК</h3>
		</div>
		<div class="container-sm">
			<div class="body" v-if="audios.length < 1">
				<div class="p-1">
					Введите Ваш id
				</div>
				<div class="p-1">
					<input type="text" v-model="uid" class="" />
				</div>
				<div class="p-3">
					<input class="btn btn-primary" @click="play" type="button" value="Play!" />
				</div>
			</div>
		</div>
		<div class="p-3" v-if="currentAudio">
			<input class="btn btn-secondary" @click="shuffle" type="button" value="Shuffle" />
		</div>
		<div class="p-3" v-if="currentAudio">
			<div class="row">
				<input class="btn btn-secondary col-sm" @click="stop" type="button" value="Pause" />
				<input class="btn btn-secondary col-sm" @click="resume" type="button" value="Continue" />
			</div>
		</div>
		<div class="p-3">
			<div>
				Volume:
			</div>
			<input class="p-1" type="range" min="0" max="100" step="1" v-model="volume" @change="changeVolume">
		</div>
		<div class="p-3" v-if="currentAudio">
			<div>
				Playing:
			</div>
			<input class="p-1 container-fluid" type="range" min="0" max="100" step="1" v-model="duration">
		</div>
		<div class="p-3" v-if="audios.length > 0">
			<div v-for="audio in audios" :key="audio.id" class="card m-1" :class="currentId === audio.id ? '' : 'bg-dark text-light'">
				<span @click="change(audio)" style="cursor: pointer">{{ currentId === audio.id ? '&#62;&#62; ' : '' }}{{ audio.artist }} - <i>{{ audio.title }}</i>{{ currentId === audio.id ? ' &#60;&#60;' : '' }}</span>
			</div>
		</div>
    </div>
</template>

<script>
const axios = require('axios');

export default {
    name: "Main",
	data: function () {
		return {
			uid: 471410811,
			audios: [

			],
			currentId: null,
			currentAudio: null,
			volume: 100,
		}
	},
	computed: {
		duration: {
			get: function () {
				if (!this.currentAudio) return 0;
				return (this.currentAudio.currentTime / this.currentAudio.duration) * 100;
			},
			set: function (value) {
				if (!this.currentAudio) return;
				this.currentAudio.currentTime = (value/100) * this.currentAudio.duration;
			}
		},
	},
	methods: {
		stop() {
			if (this.currentAudio) {
				this.currentAudio.pause();
			}
		},
		resume() {
			if (this.currentAudio) {
				this.currentAudio.play();
			}
		},
		playMusic(audio) {
			if (this.currentAudio) {
				this.currentAudio.pause();
			}

			const url = audio.music;
			this.currentId = audio.id;

			try {
				this.currentAudio = new Audio(url);
				this.currentAudio.volume = this.volume / 100;
				this.currentAudio.play().catch((error) => {
					this.playNext();
					console.log(error);
				});
				this.currentAudio.onended = () => {
					this.playNext();
				};
			} catch (e) {
				console.log(e);
				this.playNext();
			}
		},
		changeVolume() {
			if (this.currentAudio) {
				this.currentAudio.volume = this.volume / 100;
			}
		},
		change(audio) {
			this.playMusic(audio);
		},
		playNext() {
			const i = this.audios.findIndex(x => x.id === this.currentId) + 1;
			if (i >= this.audios.length) return;

			this.playMusic(this.audios[i]);
		},
		shuffle() {
			this.audios.sort(() => Math.random() - 0.5);
		},
		play() {
			axios
			.get(`/get_music?uid=${this.uid}`)
			.then(response => {
				this.audios = response.data;
				console.log(this.audios);

				this.playMusic(this.audios[0]);
			});
		}
	}
}
</script>

<style>
.main {
	text-align: center;
}
.main .title {
	padding-top: 24px;
}
.main .body {
	padding-top: 24px;
	padding-bottom: 24px;
}
</style>