<template>
  <div id="app">
    <Main></Main>
  </div>
</template>

<script>
  import Vue from 'vue'
  import Main from "@/components/Main.vue";
  import { BootstrapVue, IconsPlugin } from 'bootstrap-vue'

  import 'bootstrap/dist/css/bootstrap.css'
  import 'bootstrap-vue/dist/bootstrap-vue.css'

  Vue.use(BootstrapVue)
  Vue.use(IconsPlugin)

  export default {
    name: 'App',
    components: { Main }
  }
</script>

<style>


  #app {
    margin-top: 60px;
  }
</style>
